.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4rem auto;
  max-width: 1024px;
  width: 100%;
}

.heading {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0.4rem;
}
