.Header {
  background-color: rgb(255, 255, 255);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.HeaderContainer {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  height: 100%;
  padding: 0 1rem;
  justify-content: space-between;
}

.logo {

  @media (min-width: 768px) {
    margin: 0 0 0 1rem;
  }
}

.button {
  background-color: rgb(30, 48, 230);
  border-radius: 14px;
  border: 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.8rem;
  outline: 0;
  margin: 0 1rem 0 0;
  padding: 0.6rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}
